### Columns in uciData: AT, V, AP, RH, PE

##### AT: Temperature in range 1.81-37.11 deg C
##### V : Exhaust Vacuum in range: 25.58% to 100.16%
##### AP: Ambient pressure in the range 992.89-1033.30 milibar
##### RH: Relative Humidity in range 25.36-81.56 cm Hg
##### PE: Net hourly electrical energy output : 420.26-495.76 MW

In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [18]:
data = pd.read_csv("uciData.csv")

In [19]:
data.head() # display top 5 rows of dataset

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

##### Define X = independent variables data, y = dependent variables data

In [20]:
x = data.drop(['PE'],axis=1).values  # independent variables values
y = data['PE'].values  # dependent variable

##### Split dataset into training and test set

In [ ]:
x_train, x_test, y_train, y_test